@using System.Globalization
<tr class="transition duration-150 ease-in-out hover:bg-gray-50">
    <td class="px-6 py-6 whitespace-nowrap text-sm font-medium text-gray-900 text-overflow-ellipsis" title="@Id">
        @Id
    </td>
    <td class="px-6 py-6 whitespace-nowrap text-sm text-gray-500 overflow-hidden text-overflow-ellipsis" title="@Title">
        @Title
    </td>
    <td class="px-6 py-6 whitespace-nowrap text-sm text-gray-500 overflow-hidden text-overflow-ellipsis" title="@Status">
        @Status
    </td>
    <td class="px-6 py-6 whitespace-nowrap text-sm text-gray-500 overflow-hidden text-overflow-ellipsis" title="@EndTime.ToString("dd-MM-yyyy HH:mm")">
        @EndTime.ToString("dd-MM-yyyy HH:mm")
    </td>
</tr>
@code {
    [Parameter]
    public int Id { get; set; }
    
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string Status { get; set; }
    
    [Parameter]
    public DateTime EndTime { get; set; }

    protected override void OnInitialized()
    {
        EndTime = EndTime.ToLocalTime();
    }

}