@page "/quiz/{Id:int}"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject QuizService.QuizServiceClient QuizServiceClient
@using System.Diagnostics.CodeAnalysis
@using Sowkoquiz.Constants
@using Sowkoquiz.Grpc
@using Sowkoquiz.Components


@if (DisplayResult)
{
    <PageTitle>Quiz Result</PageTitle>
    <QuizFinished Score="@Score" Id="@ActiveQuizId" DefinitionId="@Id"/>
}
else if (CurrentQuestion == null)
{
    <div class="flex justify-center items-center mt-8">
        <div class="loader"></div>
    </div>
}
else
{
    <PageTitle>@CurrentQuestion.Text</PageTitle>
    if (!IsSubmitting)
    {
        <div class="container mx-auto mt-8 p-4">
            <div class="bg-white p-6 rounded shadow-md">
                <form method="post" @onsubmit="HandleValidSubmit">
                    <fieldset class="space-y-4">
                        <legend class="text-2xl font-semibold">Question @_questionCount</legend>
                        <h4 class="text-xl font-semibold">@CurrentQuestion.Text</h4>
                        <div class="space-y-2">
                            <InputRadioGroup @bind-Value="Model.Letter" class="accent-gray-700">
                                @foreach (var answer in _answers)
                                {
                                    <div class="form-check">
                                        <InputRadio class="checked:bg-blue-700 text-blue-700 border-zinc-900 focus:ring-blue-700 accent-blue-700" Value="@answer.Letter"/>
                                        <label class="form-check-label text-lg">
                                            @answer.Text
                                        </label>
                                    </div>
                                }
                            </InputRadioGroup>
                        </div>
                        <button type="submit" disabled="@BtnDisabled" class="mt-4 p-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600">Submit Answer</button>
                    </fieldset>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="flex justify-center items-center mt-8">
            <div class="loader"></div>
        </div>
    }
}

@code {
    [Parameter] 
    public int Id { get; set; }
    
    private readonly QuestionModel Model = new();
    
    private int ActiveQuizId { get; set; }
    private string _accessKey = "";
    private Score Score { get; set; } = null!;
    private Question? CurrentQuestion { get; set; }
    private bool DisplayResult { get; set; } =  false;
    private bool IsSubmitting { get; set; } = false;
    private bool BtnDisabled => string.IsNullOrWhiteSpace(Model.Letter) || IsSubmitting;
    private List<Question.Types.Answer> _answers = [];
    private int _questionCount = 1;

    protected override async Task OnInitializedAsync()
    {
        _accessKey = await GetAccessKey();
        var response = (await QuizServiceClient.StartQuizAsync(new StartQuizRequest
        {
            Id = Id,
            AccessKey = _accessKey
        }));
        
        CurrentQuestion = response.Question;
        _answers = CurrentQuestion.Answers.OrderBy(_ => Guid.NewGuid()).ToList();
        ActiveQuizId = response.Id;
    }

    private async Task HandleValidSubmit()
    {
        if (IsSubmitting) return;

        IsSubmitting = true;

        try
        {
            Model.QuestionId = CurrentQuestion!.Id;

            var response = await QuizServiceClient.AnswerQuestionAsync(new AnswerQuestionRequest
            {
                QuizId = ActiveQuizId,
                QuestionId = Model.QuestionId,
                Letter = Model.Letter,
                AccessKey = _accessKey
            });

            Model.Letter = null;

            switch (response.ResponseCase)
            {
                case AnswerQuestionResponse.ResponseOneofCase.NextQuestion:
                    CurrentQuestion = response.NextQuestion;
                    _answers = CurrentQuestion.Answers.OrderBy(_ => Guid.NewGuid()).ToList();
                    _questionCount++;
                    break;
                case AnswerQuestionResponse.ResponseOneofCase.Score:
                    DisplayResult = true;
                    Score = response.Score;
                    break;
                case AnswerQuestionResponse.ResponseOneofCase.None:
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
        finally
        {
            IsSubmitting = false;
            StateHasChanged();
        }
    }

    private async Task<string> GetAccessKey()
    {
        var key = await LocalStorage.GetItemAsync<string>(LocalStorageKeys.AccessKey);

        return key;
    }

    private class QuestionModel()
    {
        [NotNull] public int QuestionId { get; set; }
        [NotNull] public string? Letter { get; set; }
    }

}